<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>
<body>
<form class="form-signin" action="#" th:action="@{/login}" th:object="${user}" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="name" class="sr-only">Name</label>
    <input type="text" name="name" id="name" th:field="*{name}" class="form-control" placeholder="Name" autofocus>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger" role="alert"></div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
</body>
</html>